.list-title{
  margin-top: 25px;
  margin-bottom: 25px;
}

.card-list{
  margin-bottom: 25px;
}

.meeting-card{
  margin-bottom: 25px;
  height: 89%;
}

.meeting-plus-button{
  float: right;
  top: 87px;
}